@import "bootstrap-sprockets";
@import "bootstrap";

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }
}

.all_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 30%;
  min-width: 200px;
}
