<div class="title-container">
  <h2>Products</h2>
</div>

<div class="all_products">
  <% @products.each do |product| %>
  <div class="product">
    <div class="thumbnail">
      <p> <%= link_to product.name, product_path(product) %> </p>
    </div>
  </div>
  <% end %>
</div>

<%= link_to "New Product", new_product_path %>

<%= will_paginate @products %>
