<h2>This will be the products homepage</h2>

<ul>
  <%= @products.each do |product| %>
    <li> <%= link_to product.name, product_path(product) %> </li>
  <% end %>
</ul>

<%= link_to "New Product", new_product_path %>
