<h2>3 Most Recent Product</h2>

<ul>
  <% @most_recent_products.each do |product| %>
    <li> <%= link_to product.name, product_path(product) %> </li>
  <% end %>
</ul>


<%= link_to "Return to All Products", products_path %>
